################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/officeapi/bin/Debug/net8.0
/officeapi/obj
/RepoLibrary/bin/Debug/net8.0
/RepoLibrary/obj
/ServiceLibrary/bin/Debug/net8.0
/ServiceLibrary/obj
/officeapi/.vs/officeapi/FileContentIndex
/officeapi/.vs/ProjectEvaluation
/officeapi/.vs/officeapi/DesignTimeBuild
